			<section class="user-list">
				<div class="container resultFilter">
					<!-- 
						The input can be binded to the data by using the ng-model.
						the value inside ng-model is used as a filter on the ng-repeat
						
					-->
					<input ng-model="query" type="text" placeholder="Search For Users" autofocus>
					<label for="userOrder">Order By:
						<select ng-model="userOrder">
							<option value="name.first">Name</option>
							<option value="company">Company</option>
						</select>
					</label>
					<label>
						Asc
						<input type="radio" ng-model="direction" name="direction" checked>
					</label>
					<label>
						Desc
						<input type="radio" ng-model="direction" name="direction" value="reverse">
					</label>
	 			</div>
				<div class="container">
					<ul class="users">
						<!-- 
							the ng-repeat is used to iterate through each member of the array.
							Filters can be also used to get specific data. 
							Filters can be added by using a PIPE symbol inside the ng-repeat
						-->
						
						<li ng-repeat="user in users | filter: query | orderBy: userOrder:direction">
							<a href="#/user/{{users.indexOf(user)}}">
								<div class="image">
									<img ng-src="{{user.picture_small}}" alt="Photo Of {{user.name.first}}">
								</div>
								<div class="info">
									<h4>{{user.name.first}} {{user.name.last}}</h4>
									<p>Age: {{user.age}}</p>
									<p>Company: {{user.company}}</p>
									<p>Email: {{user.email}}</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</section>
